<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表排序</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>

  
    <div id="root">
        <h2>person list</h2>
       <input type="text" placeholder="please enter your name" v-model="keyword" >
       <button @click="setSortType2">年龄升序</button>
       <button @click="setSortType1">年龄降序</button>
       <button @click="setSortType0">原顺序</button>
      <!-- 遍历数组 -->
      <ul>
        <li v-for="(p,index) in filPersons" :key="p.id">
            {{p.name}} - {{p.age}} - {{p.sex}}
        </li>
      </ul>


   
    </div>
    <script type="text/javascript">
        Vue.config.productionTip = false

     const vm =  new Vue({
            el:'#root',
            data:{
                keyword:'',
                sortType:0, // 0 original, 1 ascend , 2 descend
                persons:[
                    {
                        id:'001',name:'马冬梅',age:30,sex:'女'
                    },
                    {
                        id:'002',name:'周冬雨',age:31,sex:'女'
                    },
                    {
                        id:'003',name:'周杰伦',age:18,sex:'男'
                    },
                    {
                        id:'004',name:'温兆伦',age:19,sex:'男'
                    },
                ],            
            },

            // 用compute 实现
        computed:{
            filPersons(){
                const arr =   this.persons.filter((p) => {
                    return p.name.indexOf(this.keyword) !== -1
                })
                if(this.sortType){
                        arr.sort((p1,p2) => {
                            return this.sortType === 1? p2.age-p1.age : p1.age - p2.age
                        })
                }
                return arr
            }
         },
         methods: {
            setSortType1(){
                this.sortType = 1;
            },
            setSortType2(){
                this.sortType = 2;
            },
            setSortType0(){
                this.sortType = 0;
            },
         },

        })


    </script>
</body>
</html>