<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue监测数据改变的原理</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>

  
    <div id="root">
        <h1>school info</h1>
        <h2>xuexiao name: {{school.name}}</h2>
        <h2>xuexiao dizhi: {{school.add}}</h2>
        <h2>xiaozhang: {{leader}}</h2>
        <hr/>
        <h1>student info</h1>
        <button @click="addSex">add a sex</button>
        <h2>student name: {{student.name}}</h2>
        <h2>student rage: {{student.age.rAge}}</h2>
        <h2>student sage: {{student.age.sAge}}</h2>
        <h2 v-if="student.sex">student sex: {{student.sex}}</h2>
        <h2>friends</h2>
        <ul>
            <li v-for="(f,index) in student.friends" :key="index">
                {{f.name}} - {{f.age}}
            </li>
        </ul>
   
    </div>
    <script type="text/javascript">
        Vue.config.productionTip = false

     const vm =  new Vue({
            el:'#root',
            data:{
                school:{
                    name: 'shanggugui',
                    add : 'place',
                },
               
                student:{
                    id:1,
                    name:'comeon',
                    age:{
                        rAge:40,
                        sAge:29,
                    },
                    friends:[
                        {name:'jerry',age:35},
                        {name:'jerry',age:35}
                    ]
                }
           },
           methods: {
             addSex(){
                Vue.set(this.student,'sex','man')
                this.$set(this.student,'sex','woman')
             }
           },
        })


    </script>
</body>
</html>