<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1.姓名案例_插值语法实现</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>

    computed and watch 之间的区别：
        1. computed能完成的功能，watch都可以完成。
        2. watch能完成的功能，computed不一定能完成，例如：watch可以进行异步操作。
    两个重要的小原则：
        1. 所被Vue管理的函数，最好写成普通函数，这样this的指向才是vm或组件实例对象。
        2. 所有不被Vue所管理的函数（定时器的回调函数、ajax的回调函数等），最好写成箭头函数，
            这样this的指向才是vm 或组件实例对象。
    <div id="root">
        lastName: <input type="text" v-model="firstName"> <br/><br/>
        firstName:<input type="text" v-model="lastName"> <br/><br/>
        fullName: <span>{{fullName}}</span><br/>

    </div>
    <script type="text/javascript">
        Vue.config.productionTip = false

     const vm =  new Vue({
            el:'#root',
            data:{
                firstName:'zhang',
                lastName:'san',
                fullName:'zhang-san',
            },
            watch:{
                firstName(newValue,oldValue){
                    setTimeout(()=>{
                        this.fullName = newValue + '-' + this.lastName
                    },1000)
                },
                lastName(newValue,oldValue){
                    this.fullName = this.firstName + '-' + newValue
                },
            }
        })
    </script>
</body>
</html>